@font-face {
    font-family: VM;
    src: url(font/Vazir-Medium.ttf);
}



html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: VM;
    padding: 0 100px;
    background-color: rgb(210, 231, 250);
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    direction: rtl;
    height: 100%;
}

.bottom-part {
    display: flex;
    justify-content: start;
    align-items: center;
}

.input-number {
    direction: ltr;
    border-radius: 20px;
    height: 50px;
    width: 300px;
    border: none;
    font-size: 20px;
    position: absolute;
    left: calc(50% - 150px);
    top: 100px;
    text-align: center;
}

.input-number:focus {
    outline:none;
}

.result-text {
    text-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: center;
}
